
body {
  font-family: sans-serif;
  line-height: 1.5;
  background: #f0f4f4;
	color: #5b5b5b;
	font-size: 15pt;
	line-height: 1.85em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

header,
nav,
footer {
  background-color: #eee;
}

section {
  background-color: #ddd;
}

body {
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  grid-template-areas:
    "masthead    masthead"
    "navigation  welcome"
    "copyright   copyright";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #483949;
  line-height: 1.25em;
} 

p {
  margin: 0;
}

header,
footer {
  padding: 0 20px;
}

header {
  grid-area: masthead;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: welcome;
}

section {
  padding: 20px;
}

footer {
  grid-area: copyright;
}
