@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Body */

body {
	font-family: "Source Sans Pro", "Tahoma", "Courier New", serif;
	font-size: 15pt;
	line-height: 1.85em;
	font-weight: 300;
	background: rgb(240, 240, 240, 1);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}


/* Navigation */

nav {
	background: #e7473c;
	box-shadow: 0 2px 0 rgb(0 0 0 / 10%);
	font-size: 1em;
	color: #76150f;
	position: sticky;
	text-align: center;
	padding: 1.5em 0 13px;
	grid-column-start: 2;
}

nav a {
	text-align: center;
	color: #76150f;
	text-align: center;
	padding: 14px 16px;
	font-size: 1em;
	text-decoration: none;
	font-weight: 400;
}

nav>ul>li {
	display: inline-block;
	margin: -9px 0 0 0;
	list-style: none;
	line-height: 0px;
	height: 21px;
	text-align: center;
}

nav a:hover {
	text-decoration: underline;
	color: #fff;
}

.introduction {
	background: rgb(240, 240, 240, 1);
	padding: 0px 72px 10px;
	grid-row: 1 / span 2;
	text-align: left;
	color: #e7473c;
	overflow: scroll;
	position: relative;
}

hr {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .08), transparent);
	height: 25px;
	border-style: none;
	margin: 20px;
}

.main {
	background: #e7473c;
	display: grid;
	grid-column-start: 2;
	color: #fff;
	padding: 10px 72px;
	text-align: left;
	box-shadow: 0 2px 0 rgb(0 0 0 / 10%);
	overflow: scroll;
}

h1 {
	font-family: "Open Sans", "Tahoma", "Courier New", serif;
	color: #e7473c;
	font-size: 5rem;
	line-height: normal;
	text-align: left;
	font-weight: 400;
	padding-top: 37.300px;
	margin: 0px;
	position: relative;
	top: 0;
	left: 0;
}

h2 {
	font-size: 3rem;
	line-height: .9;
}

h3 {
	font-size: 2rem;
	color: #76150f;
	padding: 1em 0 1em;
	text-align: center;
	margin: 0;
}

.copy {
	margin-top: 0;
}

h4 {
	font-size: 1.5rem;
	line-height: .9;
	margin: 0;
}

a,
a:link a:active {
	color: #76150f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #76150f;
	font-weight: bold;
}

.blackandwhiteeffect {
	position: relative;
	top: 0;
	left: 16px;
	display: inline-block;
	width: 640px;
}

.blackandwhiteeffect .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.blackandwhiteeffect:hover .img-top {
	display: inline;
}

.figcaption {
	color: #76150f;
	font-size: 1rem;
	line-height: 1.4;
	text-align: left;
	width: 600px;
	margin-top: 0;
	margin-bottom: 0px;
}

.source {
	color: #808080;
	font-size: .8rem;
	line-height: 1.4;
	margin-top: 2em;
	text-align: left;
	width: 600px;
	margin-bottom: 50px;
	margin-top: 5px;
}

a.sourcelink:visited,
a.sourcelink:active,
a.sourcelink:link {
	color: #808080;
}

a.sourcelink:hover {
	color: #76150f;
	text-decoration: underline;
}

.area {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 60px;
}

.area td,
.area th {
	padding: 8px;
}

.area tr:nth-child(even) {
	background-color: #C6382F;
}

.area tr:nth-child(odd) {
	background-color: #D94036;
}

.area tr:hover {
	background-image: linear-gradient(to top right, #c82419, #e3291c 50%);
	box-shadow: inset 1px 0 0 #bf2318, inset 0 -1px 0 #ac1f15, inset 0 0 20px #bf2318;
}

.area th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #76150f;
	color: white;
}

ul>li {
	margin: 0;
	padding: 0;
	list-style-type: square;
}

footer {
	color: #808080;
	font-size: 1rem;
	line-height: 1.4;
	margin-top: 2em;
	text-align: right;
}
